---
import { getOffre } from "../../js/backend.mjs";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
const offre = await getOffre(id);
---

<Layout titre={offre?.nomMaison}>
    <h2>{offre?.nomMaison}</h2>
    <ul>
        <li>{offre?.Adresse}</li>
        <li>{offre?.Prix} €</li>
        <li>{offre?.Superficie} m²</li>
        <li>{offre?.NbChambre} chambres</li>
        <li>{offre?.NbSdb} salles de bain</li>
    </ul>
</Layout>
